<% content_for :tabbar_title do %>
  <%= @organization.name %>
<% end %>

<%#= render_cell :organization, :show, organization: @organization %>

<div class="tabs-panel">
  <% if organization_owner? %>
    <div class="row">
      <div class="small-12 columns">
        <%#= link_to fa_icon("plus-square", text: "Add Member", class: "fa-fw"), [:new, @organization, :member] %>
      </div>
    </div>
  <% end %>
  <table class="responsive">
    <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <% if organization_owner? %>
        <th>&nbsp;</th>
      <% end %>
    </tr>
    </thead>
    <tbody>
    <% @organization_users.each do |organization_user| -%>
      <tr>
        <td><%= organization_user.user.name %></td>
        <td><%= organization_user.user.email %></td>
        <td><%= organization_user.role.titleize %></td>
        <% if organization_owner? %>
          <td>
            <%= link_to "Edit", edit_organization_member_path(@organization, organization_user), class: "tiny button radius" %>
            <%= link_to "Delete", organization_member_path(@organization, organization_user),
                        method: :delete, data: { confirm: "Are you sure?" }, class: "tiny button radius" %>
          </td>
        <% end %>
      </tr>
    <% end -%>
    </tbody>
  </table>

  <%#= paginate @organization_users %>
</div>
