<% content_for :tabbar_title do %>
  Add User to <%= @organization.name %>
<% end %>

<div class="form-panel clearfix">
  <ul class="breadcrumbs">
    <li><%= link_to @organization.name, [@organization] %></li>
    <li><%= link_to "Members", [@organization, :members] %></li>
    <li class="current"><a href="#">New</a></li>
  </ul>

  <%= simple_form_for @member, url: organization_members_path(@organization), method: :post do |f| %>
    <%= f.input :email %>
    <%= f.input :name %>
    <%= f.input :role do %>
      <%= f.select :role, OrganizationUser::ROLES, include_blank: true %>
    <% end %>
    <%= f.button :submit, class: "small button radius right" %>
  <% end %>
</div>
