<section class="top-bar-section">
  <div class="row">
    <div class="small-12 large-12 columns">
      <p></p>
      <h1>Finishes. A Project Management App for Home Building Projects.</h1>
      <p></p>
      <h2>What is Finishes?</h2>
      <p>
        Finishes is an easy-to-use project management tool that takes the stress out of the home building process by helping you organize, track, and manage all your home finishes. Usually home building projects have lots of collaborators, and tons of details. They also require frequent changes and revisions, which means lots of criss-crossing emails, random spreadsheets, phone calls, and scribbled notes. All this makes it hard to communicate efficiently, keep costs under control, and ensure accuracy in your home building project. Finishes solves all those problems by allowing you to put all the home finish options you like in one place, show them to other people involved in the project, get feedback, and make final selections that work within the budget and timeline you've set. Finishes also saves you money and time by replacing your hardcopy homeowners and design manuals, so you never have to worry about manual updates and printing new versions.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="small-12 large-6 columns">
      <h2>How does Finishes work?</h2>

      <p>
        Finishes is very simple and user-friendly. After you sign up, you'll create your project in Finishes, add your items, share them for feedback, and approve or get approval for the final products. You and your team can access Finishes anytime, anywhere so everyone's always got the most accurate, up-to-date information.
      </p>
    </div>
    <div class="small-12 large-6 columns right">
      <h3>How it works</h3>
      <div id="works-wrap">
        <div id="create" class="works-block">
          <div>1</div>
          CREATE your home building project
          <%= image_tag "site/about/create.png", alt: "Create" %>
        </div>
        <div id="review" class="works-block">
          <div>2</div>
          ADD items and share
          <%= image_tag "site/about/review.png", alt: "Review" %>
        </div>
        <div id="approve" class="works-block">
          <div>3</div>
           Get FEEDBACK
          <%= image_tag "site/about/approve.png", alt: "Approve" %>
        </div>
        <div id="purchase" class="works-block">
          <div>4</div>
          APPROVE and buy your final selections
          <%= image_tag "site/about/purchase.png", alt: "Purchase" %>
        </div>
      </div>
    </div>
    <div class="small-12 large-6 columns right">
      <h2>Who is Finishes for?</h2>
      <p>
        Finishes is for anyone that's working on a home project, no matter the size or scope of the project. Finishes works for the first-time homeowner tackling a bathroom remodel, the designer pulling together the interior of a new home, or the seasoned construction company building hundreds of apartment units. So whoever you are, if you're working on a home building project, Finishes will help you manage all the details.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="small-12 large-12 columns">
      <h2>What does Finishes cost?</h2>
      <p>
        Finishes is currently in closed beta but will be subscription based with tiered pricing based on the number of projects. <%= mail_to "support@finishesapp.com", "Contact us" %> for pricing information.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="small-12 large-12 columns">
      <h2>Who built Finishes?</h2>

      <p>
        Finishes is brought to you by Cascade Apps. We created Finishes because we had experience on both the homeowner and construction sides of building, and we couldn't believe how hard and stressful it was to keep track of everything. So we decided to streamline home building project management for everyone by creating the Finishes app. We hope you like it! We'd love to hear what you think. <%= mail_to "support@finishesapp.com", "Contact us" %>
      </p>
    </div>
  </div>
</section>
<%#= render "section_try" %>
