<% content_for :tabbar_title do %>
  <%= @project.name %>
<% end %>

<%#= render_cell :project, :show, project: @project %>

<%= render "shared/project_tabs" %>

<div class="tabs-panel">
  <%#= link_to fa_icon("plus-square", text: "Add File", class: "fa-fw"), "javascript: $('#attachment-form').toggle();" %>
  <div id="attachment-form" class="hide">
    <div class="row">
      <div class="small-12 columns">
        <div class="panel">
          <%= simple_form_for ProjectAttachment.new, url: [@organization, @project, :attachments], multipart: true do |f| %>
            <%= f.hidden_field :id %>

            <%= f.input :file, as: :file, label: "Add an attachment", required: false %>
            <%= f.submit "Add Attachment", class: "tiny button radius" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <table class="responsive">
    <thead>
      <tr>
        <th>Preview</th>
        <th>File</th>
        <th>Finish</th>
        <% if project_member_access? %>
          <th>&nbsp;</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
    <% @attachments.each do |attachment| -%>
      <tr>
        <td>
          <%= attachment_preview attachment %>
        </td>
        <td><%= link_to attachment.file.display_name, attachment.file.url %></td>
        <td>
          <%= attachment.finish ? link_to(attachment.finish.name, [@organization, @project, attachment.finish]) : "---" %>
        </td>
        <% if project_member_access? %>
          <td>
            <%#= link_to fa_icon("trash-o", text: "Delete", class: "fa-fw"), [@organization, @project, :attachment, id: attachment],
                      method: :delete, data: { confirm: "Are you sure?" }, class: "tiny button radius" %>
          </td>
        <% end %>
      </tr>
    <% end -%>
    </tbody>
  </table>

  <%#= paginate @attachments %>
</div>
