<section id="project-tabs">
  <dl class="sub-nav">
    <%= subnav_link_to("list", "DummyApp", [@organization, @project, :finishes]) %>
    <%= subnav_link_to("bar-chart-o", "Budget", [@organization, @project, :budget_items]) %>
    <%= subnav_link_to("calendar-o", "Deadlines", [@organization, @project, :deadlines]) %>
    <%= subnav_link_to("file-o", "Files", [@organization, @project, :attachments]) %>
    <%= subnav_link_to("users", "Members", [@organization, @project, :members]) %>
  </dl>
</section>
