<% content_for :tabbar_title do %>
  <%= @project.name %>
<% end %>

<div class="form-panel clearfix">
  <ul class="breadcrumbs">
    <li><%= link_to @project.name, [@organization, @project] %></li>
    <li><%= link_to "edit", [:edit, @organization, @project, anchor: "areas"] %></li>
    <li class="current"><a href="#"><%= @area.new_record? ? "New" : "Edit" %> Area</a></li>
  </ul>

  <%= simple_form_for [@organization, @project, @area] do |f| %>
    <%= f.input :name, required: false %>
    <%= f.button :submit, class: "tiny button radius right" %>
  <% end %>
</div>
